<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>

<body>
<form method = 'post' th:action="@{/user}">
    <div class="form-group">
        <label>
            Username:
            <input type = "text" th:field="${user.username}" class="form-control"/>
        </label>
        <p class="error" th:errors="${user.username}"></p>
    </div>

    <div>
        <label>
            Email:
            <input th:field="${user.email}">
        </label>
        <p class="error" th:errors="${user.email}"></p>
    </div>

    <div>
        <label>
            Password:
            <input type = 'password' th:field="${user.password}">
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>

    <div>
        <label>
            Verify Password:
            <input type = 'password' name = 'verify'>
            <p name="verifyError" th:text="${verifyError}"></p>
        </label>
    </div>

    <div>
        <input type = 'submit' value = 'Sign Up'>
    </div>

    <div>
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>